{% extends 'Bacsi/base.html' %}
{% load static %}
{% block content %}
    {% if request.path == '/' %}
        <!-- Carousel Section -->
        <div id="petCareCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'Bacsi/images/banner/chodai.jpg' %}" class="d-block w-100" alt="Khám sức khỏe thú cưng">

                    <div class="carousel-caption d-none d-md-block">
                        <h5>Điều trị khám sức khỏe</h5>
                        <p>Định kì 1 tháng/1 lần.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'Bacsi/images/banner/meo.jpg' %}" class="d-block w-100" alt="Chuẩn đoán & Điều trị">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Chuẩn đoán & Điều trị</h5>
                        <p>Chu đáo, ân cần, tận tuỵ.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'Bacsi/images/hix.jpg' %}" class="d-block w-100" alt="Các bệnh thường gặp">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Các bệnh thường gặp</h5>
                        <p>...vv</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'Bacsi/images/banner/cat.jpg' %}" class="d-block w-100" alt="Làm đẹp thú cưng">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Làm đẹp</h5>
                        <p>Là một nơi lý tưởng cho thú cưng.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#petCareCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#petCareCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endif %}

    <div class="container mt-5">
        <h1 class="text-center fw-bold" style="color: #218838;">Chào mừng đến với hệ thống Bác sĩ thú y</h1>
    </div>
{% endblock content %}
