<headerbody>
  <div class="container-fluid p-1 bgtop1 text-center">
    <div class="container">
      <marquee> Chăm Sóc Thú Cưng Số 1 Tại Thành Phố Hồ Chí Minh </marquee>
    </div>
  </div>

  <div class="container col-10">
    <div class="row pt-3">
      <div class="col-md-2">
        <img
          src="{% static 'home/images/anh001.png'%}"
          alt=""
          class="w-50 m-0"
        />
      </div>
      <div class="col-md-10 text-center menu">
        <ul>
          <li><a href="">CẨM NANG CHĂM SÓC</a></li>
          <li><a href="">GỬI TRÔNG GIỮ</a></li>
          <li><a href="">TIÊM PHÒNG</a></li>
          <li><a href="../Templates/login.html">ĐĂNG NHẬP</a></li>
          <li>
            <a href="*">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</headerbody>
