{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Đăng kí khám bệnh</title>
    <!-- CSS -->
     {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'app/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'app/css/all.min.css' %}" rel="stylesheet" />
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="{% static 'app/js/j3.js' %}"></script>
    <script src="{% static 'app/js/all.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Pet Health Care System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>     
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Khách Hàng
                </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'quan_ly_thu_cung' %}">Quản lý danh sách thú cưng</a></li>
                  <li><a class="dropdown-item" href="{% url 'chi_tiet_thu_cung' %}">Thông tin chi tiết của thú cưng</a></li>
                  <li><a class="dropdown-item" href="{% url 'dang_ky_kham_benh' %}">Đăng ký khám bệnh</a></li>
                  <li><a class="dropdown-item" href="{% url 'danh_gia_nguoi_dung' %}">Đánh giá người dùng</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'thong_tin_khac' %}">Thông tin khác</a></li>
                </ul>
              </li>
            </ul>
        </li>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </head>
    <body>
      <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-mdb-target="#carouselExampleCaptions"
            data-mdb-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-mdb-target="#carouselExampleCaptions"
            data-mdb-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-mdb-target="#carouselExampleCaptions"
            data-mdb-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://petcare.vn/wp-content/uploads/2023/06/untitled-46.jpg" class="d-block w-100" alt="Wild Landscape"/>
            <div class="mask" style="background-color: rgba(5, 113, 19, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-5">
              <h1 class="mb-4">
                      <strong>Pet House - Chăm sóc thú cưng</strong>
                    </h1>
      
                    <p>
                      <strong>Cơ sở chăm sóc thú cưng số 1 tại Thành Phố Hồ Chí Minh</strong>
                    </p>
      
                    <p class="mb-4 d-none d-md-block">
                      <strong>
                        "Ngôi Nhà Yêu Thương Cho Thú Cưng Của Bạn"</strong>
                    </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg" class="d-block w-100" alt="Camera"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
              <h1 class="mb-4">
                      <strong>Learn Bootstrap 5 with MDB</strong>
                    </h1>
      
                    <p>
                      <strong>Best & free guide of responsive web design</strong>
                    </p>
      
                    <p class="mb-4 d-none d-md-block">
                      <strong>The most comprehensive tutorial for the Bootstrap 5. Loved by over 3 000 000 users. Video and written versions
                        available. Create your own, stunning website.</strong>
                    </p>
      
                    <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start free tutorial
                      <i class="fas fa-graduation-cap ms-2"></i>
                    </a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg" class="d-block w-100" alt="Exotic Fruits"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
              <h1 class="mb-4">
                      <strong>Learn Bootstrap 5 with MDB</strong>
                    </h1>
      
                    <p>
                      <strong>Best & free guide of responsive web design</strong>
                    </p>
      
                    <p class="mb-4 d-none d-md-block">
                      <strong>The most comprehensive tutorial for the Bootstrap 5. Loved by over 3 000 000 users. Video and written versions
                        available. Create your own, stunning website.</strong>
                    </p>
      
                    <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start free tutorial
                      <i class="fas fa-graduation-cap ms-2"></i>
                    </a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
<!--Main layout-->
<main class="mt-1 pt-1">
  <div class="container">
      <!-- Heading -->
      <h1 class="my-5 text-center" type="submit" style="color: rgba(7, 78, 35, 0.82)" >Đăng kí khám bệnh</h1>
      <!--Grid row-->
      <div class="row">
          <!--Grid column-->
          <div class="col-md-8 mb-4">
              <!--Card-->
              <div class="card p-4">
                  <!--Grid row-->
                  <div class="row mb-3">
                      <!--Grid column-->
                      <div class="col-md-6 mb-2">
                          <!--tên-->
                          <div class="form-outline">
                            <p class="mb-0">
                              Họ tên chủ thú cưng:
                          </p>
                              <input type="text" id="typeText" placeholder="Nguyễn Văn A" class="form-control" />
                           
                          </div>
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-6 mb-2">
                          
                          <p class="mb-0">
                            Số điện thoại:
                        </p>
                          <div class="form-outline">
                              <input type="text" id="typeText" placeholder="12345678"class="form-control" />
            
                          </div>
                      </div>
                      <!--Grid column-->
                  </div>
                  <!--Grid row-->

                  <!-- Username
  
                  <div class="input-group mb-4">
                      <span class="input-group-text" id="basic-addon1">@</span>                     
                      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" />
                  </div>
              -->
                  <!--email-->
                  <p class="mb-0">
                      Email:
                  </p>
                  <div class="form-outline mb-4">
                       <input type="email" class="form-control" placeholder="youremail@example.com" aria-label="youremail@example.com" aria-describedby="basic-addon1" />
                  </div>

                  <!--address-->
                  <p class="mb-0">
                      Địa chỉ khách hàng:
                  </p>
                  <div class="form-outline mb-4">
                      <input type="text" class="form-control" placeholder="1234 Main St" aria-label="1234 Main St" aria-describedby="basic-addon1" />
                  </div>
                  
                  <p class="mb-0">
                      Tên thú cưng:
                  </p>
                  <div class="form-outline mb-4">
                      <input type="text" placeholder="Box"  class="form-control" aria-label="Apartment or suite" aria-describedby="basic-addon1" />
                  </div>
                
                  <!--Grid row-->
                  <p class="mb-0">
                    Giới tính thú cưng:
                </p>
                <div class="form-outline mb-4">
                   
                 <!--Grid column-->
                      
                 <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  <label class="form-check-label" for="flexCheckDefault">Đực</label>
              </div>

              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  <label class="form-check-label" for="flexCheckDefault">Cái</label>
              </div>

            </div>
              <!--Grid column-->
                      <p class="mb-0">
                        Mô tả tình trạng thú cưng:
                    </p>
                    <div class="form-outline mb-4">
                        <input type="text" class="form-control" aria-label="Apartment or suite" aria-describedby="basic-addon1" />
                    </div>               
                 
                  <!--Grid row-->                  
 <!--                 <div class="my-3">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                          <label class="form-check-label" for="flexRadioDefault1"> Credit card </label>
                      </div>

                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                          <label class="form-check-label" for="flexRadioDefault2"> Debit card </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                          <label class="form-check-label" for="flexRadioDefault3"> Paypal </label>
                      </div>
                  </div> --> 
                  <!-- ngày hẹn-->
                  <p class="mb-0">
                    Ngày hẹn:
                </p>
                <div class="form-outline mb-4">
                     <input type="date" class="form-control" placeholder="dd/mm/yy" aria-label="dd/mm/yy" aria-describedby="basic-addon1" />
                </div>
                <p class="mb-0">
                  Giờ hẹn:
              </p>
              <div class="form-outline mb-4">
                   <input type="time" class="form-control" placeholder="hh:mm" aria-label="hh:mm" aria-describedby="basic-addon1" />
              </div>
                <p class="mb-0">
                  Lựa chọn bác sĩ( nếu có nhu cầu):
              </p>
                
                  <div class="row mb-3">
                    <div class="my-3">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                          <label class="form-check-label" for="flexRadioDefault1"> Bác sĩ Triệu Hoàng Nam </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                          <label class="form-check-label" for="flexRadioDefault2"> Tiến sĩ Nguyễn Văn A </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                          <label class="form-check-label" for="flexRadioDefault3"> Bác sĩ Nguyễn Văn Hùng </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" />
                        <label class="form-check-label" for="flexRadioDefault3"> Bác Sĩ Võ Hùng</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" />
                      <label class="form-check-label" for="flexRadioDefault3"> Bác Sĩ Bùi Minh Tân </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" />
                    <label class="form-check-label" for="flexRadioDefault3"> Bác Sĩ Võ Hạnh Nhi </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7" />
                  <label class="form-check-label" for="flexRadioDefault3"> Khác </label>
              </div>
                  </div>  
                  <p class="mb-0">
                    Ghi chú cho nhân viên( nếu có):
                </p>
                <div class="form-outline mb-4">
                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" />
                </div>  
                <p class="mb-0">   
                      <div class="col-md-6 mb-3">
                        <!--
                          <p class="mb-0">
                              Name on card
                          </p>
                          <div class="form-outline">
                              <input type="text" class="form-control"/>
                              <div class="form-helper">Full name as displayed on card</div>
                          </div>
                      </div>
                      <div class="col-md-6 mb-3">
                          <p class="mb-0">
                              Credit card number
                          </p>
                          <div class="form-outline">
                              <input type="text" class="form-control" />                                
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-3 mb-3">
                          <p class="mb-0">
                              Expiration
                          </p>
                          <div class="form-outline">
                              <input type="text" class="form-control" />
                              
                          </div>
                      </div>
                      <div class="col-md-3 mb-3">
                          <p class="mb-0">
                              CVV
                          </p>
                          <div class="form-outline">
                              <input type="text" class="form-control" />
                              
                          </div> -->
                      </div>
                    
                  </div>
                  <hr class="mb-4" />                    
                <button class="btn btn-primary" type="button"style="background-color:rgb(4, 82, 47);" >Continue to checkout</button>
              </div>
            
          </div>
          <div class="col-md-4 mb-4">
              <!-- Heading -->
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="my-0" style= "color:rgb(235, 20, 20);" >Lưu ý</span>
                  <span class="badge rounded-pill badge-primary">3</span>
              </h4>

              <!-- Cart -->
              <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between">
                      <div>
                          <h6 class="my-0">Trường hợp hủy đăng ký khám (trước 7 ngày )
                            được hoàn lại tiền khám nếu thanh toán trước, từ 3 - 6 ngày hoàn 75% phí trả 
                            trước, trường hợp còn lại sẽ không hoàn phí thanh toán trước.</h6>

                  <li class="list-group-item d-flex justify-content-between">
                      <div>
                          <h6 class="my-0"> Khách hàng có thể 
                            chọn bác sĩ thú y, nếu không chọn bác sĩ thú y thì nhân viên sẽ sắp xếp cho 1 
                            bác sĩ cụ thể trước khi đến khám.</h6>

                          
                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="my-0"> Hotline: 0675048574 - Chuyên viên tư vấn </span>
                  </li>
              </ul>
              

              <!-- 
              <form class="card p-2">
                  <div class="input-group mb-3">
 ô giỏ hàng
  <input
  type="text"
  class="form-control"
  placeholder="Promo code"
  aria-label="Promo code"
  aria-describedby="button-addon2"
/>
<button class="btn btn-primary" type="button" id="button-addon2" data-mdb-ripple-color="dark">
  redeem
</button>
</div> -->
              </form>
              <!-- Promo code -->
          </div>
          <!--Grid column-->
      </div>
      <!--Grid row-->
  </div>
</main>
<a class="btn btn-outline-success" type="submit" href="{% url 'home' %}">Quay lại Trang Trước</a>

<!-- footer -->
<footer class="text-center text-white mt-4" style="background-color:rgb(4, 82, 47);">

  <hr class="text-dark" />

  <div class="container">

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); text-color: #e0e0e0;">
    Pet Health Care System

  </div>
  <!-- Copyright -->
</footer>

</body>
</html>