{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Tài khoản</title>
    <!-- CSS -->
     {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'app/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'app/css/all.min.css' %}" rel="stylesheet" />
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="{% static 'app/js/j3.js' %}"></script>
    <script src="{% static 'app/js/all.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Pet Health Care System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>     
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Khách Hàng
                </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'quan_ly_thu_cung' %}">Quản lý danh sách thú cưng</a></li>
                  <li><a class="dropdown-item" href="{% url 'chi_tiet_thu_cung' %}">Thông tin chi tiết của thú cưng</a></li>
                  <li><a class="dropdown-item" href="{% url 'dang_ky_kham_benh' %}">Đăng ký khám bệnh</a></li>
                  <li><a class="dropdown-item" href="{% url 'danh_gia_nguoi_dung' %}">Đánh giá người dùng</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'thong_tin_khac' %}">Thông tin khác</a></li>
                </ul>
              </li>
            </ul>
        </li>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </head>
    <body>
      <header>
        <!-- Intro settings -->
        <style>
          #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 58px;
          }
    
          @media (max-width: 991px) {
            #intro {
              /* Margin to fix overlapping fixed navbar */
              margin-top: 45px;
            }
          }
        </style>
    
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <div class="container-fluid">
            <!-- Navbar brand -->
            <!-- logo -->
            <a class="navbar-brand" target="_blank" href="http://127.0.0.1:8000/">
              <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/473723691_1002491608374754_5189314962434618562_n.png?_nc_cat=111&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeEDeShnCPyE1crSUjUpyJ8js4fz9kghMoezh_P2SCEyh6VuAGwQzZ1lHCBkryZeVShFS0ItXLDNl8s1ggq5ca-g&_nc_ohc=BOXPLlxyVEkQ7kNvgH0roAq&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1gEg1AWa_qVQ541W40Cwr2BLuMcVt_VZi5_YO2B74wu-BA&oe=67B493C8" 
              height="60" alt=""
                loading="lazy" style="margin-top: -3px;" />
            <!-- logo -->
            <a class="navbar-brand" href="#">Pet Health Care System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>     
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Khách Hàng
                  </a>
  
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'quan_ly_thu_cung' %}">Quản lý danh sách thú cưng</a></li>
                    <li><a class="dropdown-item" href="{% url 'chi_tiet_thu_cung' %}">Thông tin chi tiết của thú cưng</a></li>
                    <li><a class="dropdown-item" href="{% url 'dang_ky_kham_benh' %}">Đăng ký khám bệnh</a></li>
                    <li><a class="dropdown-item" href="{% url 'danh_gia_nguoi_dung' %}">Đánh giá người dùng</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'thong_tin_khac' %}">Thông tin khác</a></li>
                  </ul>
                </li>
              </ul>
          </li>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>   
        </nav>
        <!-- Navbar -->
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>           
         
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="https://www.vets4pets.com/contentassets/389e5c6089c14bc5befbbcf20fadec2b/senior-dog-golden-retriever-close-up.jpg" class="d-block w-100" alt="Wild Landscape">
              <div class="mask" style="background-color: rgba(5, 113, 19, 0.4)"></div>
              <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="mb-4">
                        <strong>
                          Pet House - Nơi Yêu Thương Thú Cưng Bắt Đầu</strong>
                      </h1>
        
                      <p>
                        <strong>Cơ sở chăm sóc thú cưng số 1 tại Thành Phố Hồ Chí Minh</strong>
                      </p>
        
                      <p class="mb-4 d-none d-md-block">
                        <strong>
                          "Ngôi Nhà Yêu Thương Cho Thú Cưng Của Bạn"</strong>
                      </p>
              </div>
            </div>     
          </div>       

  </header>

      <!--Main layout-->
      <main class="my-5">
        <div class="container">
       <!--video + thông tin -->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init data-mdb-ripple-color="light">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cxanD69Bqic?si=-Ok6fFxqo59y_Wp-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <a href="#!">
              <div class="mask" style="background -color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4" style="color: rgba(13, 78, 6, 0.82)" >
          <h3><strong>
            Pet House - Thiên Đường Dành Cho Thú Cưng Của Bạn</strong></h3>
          <p class="text-muted">
            Chào mừng bạn đến với Pet House, không gian dành riêng cho những ai yêu thương và
            chăm sóc thú cưng! Chúng tôi hiểu rằng thú cưng không chỉ là những người bạn nhỏ mà còn là
            thành viên quan trọng trong gia đình bạn.
          </p>
          <p><strong>Hãy để Pet House đồng hành cùng bạn trên hành trình chăm sóc và yêu thương những người bạn nhỏ đáng yêu!</strong></p>
          <p class="text-muted">
            Pet House là nơi mang đến cho thú cưng của bạn những dịch vụ chăm sóc toàn diện và sản phẩm chất lượng cao, giúp thú cưng luôn khỏe mạnh và hạnh phúc. Với sứ mệnh trở thành ngôi nhà thứ hai cho các bé thú cưng, Pet House cung cấp đa dạng các dịch vụ như spa, grooming, khám sức khỏe định kỳ, và khách sạn cho thú cưng.
          </p>
        </div>
      </div>
    </section>
   <!--video + thông tin -->
   <!--tab -->
   <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>

   <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
     <div class="offcanvas-header">
       <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Tài khoản</h5>
       <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     </div>
     <div class="list-group list-group-light">
      <a href="#" class="list-group-item list-group-item-action px-3 border-0 active" data-mdb-ripple-init
        aria-current="true">The current link item with a ripple</a>
      <a href="#" class="list-group-item list-group-item-action px-3 border-0" data-mdb-ripple-init>A second link item with
        a ripple</a>
      <a href="#" class="list-group-item list-group-item-action px-3 border-0" data-mdb-ripple-init>A third link item with
        a ripple</a>
      <a href="#" class="list-group-item list-group-item-action px-3 border-0" data-mdb-ripple-init>A fourth link item with
        a ripple</a>
    </div>
     <div class="offcanvas-body">
       <p>Try scrolling the rest of the page to see this option in action.</p>
     </div>
   </div>
   <!--tab -->
          <!--Section: Content-->
          <section class="text-center">
            <h4 class="mb-5"><strong>Latest posts</strong></h4>
    
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                  <div class="bg-image hover-zoom" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="https://scontent.fdad3-4.fna.fbcdn.net/v/t39.30808-6/456698590_427827633630500_6122232026928957213_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFHcwrVVsjRO5eHOm0Z03Q1M4ZpRZJbpQ4zhmlFklulDgW6TzTWI_wqnsKKeVF5bvYo2bFybwT-A9U1wcwPX3Y0&_nc_ohc=Xgu9XVWOkEIQ7kNvgF3SU62&_nc_zt=23&_nc_ht=scontent.fdad3-4.fna&_nc_gid=A9ytwNKYaY_2AdH6gKapffV&oh=00_AYCnVxteVWaLhCzwm7YzDQwT7GzIi2RkFjeg74iojbd_vQ&oe=67914817" class="w-100" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                                        
                    <a class="btn btn-primary m-2" style="background-color:rgb(13, 120, 72);" href="http://127.0.0.1:8000/dang-ky-kham-benh/" role="button" rel="nofollow"
                   data-mdb-ripple-init target="_blank">Đăng kí khám </a>     
                   <a class="btn btn-primary m-2" style="background-color:rgb(13, 120, 72);"  href="http://127.0.0.1:8000/dang-ky-kham-benh/" role="button" rel="nofollow"
                   data-mdb-ripple-init target="_blank">Hủy đăng kí </a>               
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/473038159_488662543908252_6544356066530044815_n.png?stp=dst-png_s480x480&_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeGQjwAr-ZvKkuhxz38k-GAXVaymd5-uj3BVrKZ3n66PcLwVUJfruM-c2j-oXh-CXyYQ-FxY5nxZT_Md9PJUqaPl&_nc_ohc=zvp8g1KKUUEQ7kNvgHh-PAN&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1gGGp5weYuY360FCN1NEjg6mJoQP1bvllmo2Y0QXRga2eg&oe=67B5EE66" class="w-100"   />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">     
                    <a class="btn btn-primary m-2" style="background-color:rgb(13, 120, 72);" href="http://127.0.0.1:8000/dang-ky-kham-benh/" role="button" rel="nofollow"
                   data-mdb-ripple-init target="_blank"> Kiểm tra tình trạng thú cưng</a>    
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Post title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    </p>
                    <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Read</a>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/002.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Post title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    </p>
                    <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Read</a>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/022.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Post title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    </p>
                    <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Read</a>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/035.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Post title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    </p>
                    <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Read</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--Section: Content-->
    
          <!-- Pagination -->
          <nav class="my-4" aria-label="...">
            <ul class="pagination pagination-circle justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </main>
      <!--Main layout-->
    
      <!--Footer-->
      <footer class="bg-light text-lg-start">
        <div class="py-4 text-center">
          <a role="button" class="btn btn-primary btn-lg m-2" data-mdb-ripple-init
            href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow" target="_blank">
            Learn Bootstrap 5
          </a>
          <a role="button" class="btn btn-primary btn-lg m-2" data-mdb-ripple-init href="https://mdbootstrap.com/docs/standard/" target="_blank">
            Download MDB UI KIT
          </a>
        </div>
    
        <hr class="m-0" />
    
        <div class="text-center py-4 align-items-center">
          <p>Follow MDB on social media</p>
          <a href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" class="btn btn-primary m-1" role="button" data-mdb-ripple-init
            rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.facebook.com/mdbootstrap" class="btn btn-primary m-1" role="button" rel="nofollow" data-mdb-ripple-init
            target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/MDBootstrap" class="btn btn-primary m-1" role="button" rel="nofollow" data-mdb-ripple-init
            target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://github.com/mdbootstrap/mdb-ui-kit" class="btn btn-primary m-1" role="button" rel="nofollow" data-mdb-ripple-init
            target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!--Footer-->
</body>
</html> 