{% extends 'Nhanvien/base.html' %}

{% block title %}Thêm Hồ Sơ Nhập Viện Thú Cưng{% endblock %}

{% block content %}
<h2 class="text-center fw-bold" style="color: #218838;">Thêm Hồ Sơ Nhập Viện Thú Cưng</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="pet_name" class="form-label">Tên Thú Cưng:</label>
            <input type="text" id="pet_name" name="pet_name" class="form-control" required><br>
        </div>
        <div class="mb-3">
            <label for="diagnosis" class="form-label">Chẩn Đoán:</label>
            <textarea id="diagnosis" name="diagnosis" class="form-control" required></textarea><br>
        </div>
        <div class="mb-3">
            <label for="admission_date" class="form-label">Ngày Nhập Viện:</label>
            <input type="datetime-local" id="admission_date" name="admission_date" class="form-control" required><br>
        </div>
        <button type="submit" class="btn btn-primary">Thêm Hồ Sơ Nhập Viện</button>
    </form>
{% endblock %}
