{% extends 'Nhanvien/base.html' %}

{% block title %}Thêm Mới Phòng Khám{% endblock %}

{% block content %}
<h2 class="text-center fw-bold" style="color: #218838;">Thêm Mới Phòng Khám</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="room_number" class="form-label">Số Phòng:</label>
            <input type="text" id="room_number" name="room_number" class="form-control" required><br>
        </div>
        <div class="mb-3">
            <label for="capacity" class="form-label">Sức Chứa:</label>
            <input type="number" id="capacity" name="capacity" class="form-control" required><br>
        </div>
        <button type="submit" class="btn btn-primary">Thêm Phòng Khám</button>
    </form>
{% endblock %}
