<!-- trang_nhanvien.html -->
{% extends 'Nhanvien/base.html' %}

{% load static %}
{% block title %}Chào mừng đến với Web chăm sóc thú cưng{% endblock %}

{% block content %}
<h1 class="text-center">Chào mừng đến với Web chăm sóc thú cưng</h1>
<p class="text-center">Trang nhân viên (xin quý khách vui lòng chọn trang phù hợp):</p>
<div class="d-flex justify-content-center">
    <img src="{% static 'Nhanvien/images/base1.png' %}" width="200" height="300" alt="img">
    <img src="{% static 'Nhanvien/images/base2.jpg' %}" width="200" height="300" alt="img">
    <img src="{% static 'Nhanvien/images/base3.jpg' %}" width="200" height="300" alt="img">
    <img src="{% static 'Nhanvien/images/base4.jpg' %}" width="200" height="300" alt="img">
</div>
<div class="row text-center mt-5">
    <div class="col-md-3">
        <a href="{% url 'booking' %}" class="btn btn-primary btn-lg w-100">Quản lý Booking</a>
        <p>Hệ thống đặt chỗ, hủy chỗ, hoàn tiền.</p>
    </div>
    <div class="col-md-3">
        <a href="{% url 'pet' %}" class="btn btn-primary btn-lg w-100">Quản lý Thú cưng nhập viện</a>
        <p>Theo dõi thông tin thú cưng lưu chuồng.</p>
    </div>
    <div class="col-md-3">
        <a href="{% url 'schedule' %}" class="btn btn-primary btn-lg w-100">Sắp lịch bác sĩ</a>
        <p>Lịch khám bệnh, lịch chăm sóc.</p>
    </div>
    <div class="col-md-3">
        <a href="{% url 'room' %}" class="btn btn-primary btn-lg w-100">Quản lý Chuồng</a>
        <p>Thông tin chuồng hệ thống tìm kiếm.</p>
    </div>
</div>
{% endblock %}
