{% extends 'Nhanvien/base.html' %}

{% block title %}Quản lý Hồ Sơ Nhập Viện Thú Cưng{% endblock %}

{% block content %}
    <h1 class="my-5 text-center">Danh sách Thú Cưng Nhập Viện</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Pet Name</th>
                <th>Diagnosis</th>
                <th>Admission Date</th>
            </tr>
        </thead>
        <tbody>
            {% for pet in pets %}
                <tr>
                    <td>{{ pet.pet_name }}</td>
                    <td>{{ pet.diagnosis }}</td>
                    <td>{{ pet.admission_date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Không có thú cưng nào nhập viện.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_pet' %}" class="btn btn-primary">Thêm Hồ Sơ Nhập Viện Mới</a>
{% endblock %}
