{% extends 'Nhanvien/base.html' %}

{% block title %}Quản lý Phòng Khám{% endblock %}

{% block content %}
    <h1 class="my-5 text-center">Danh sách Phòng Khám</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{ room.room_number }}</td>
                    <td>{{ room.capacity }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2" class="text-center">Không có phòng khám nào.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_room' %}" class="btn btn-primary">Thêm Phòng Khám Mới</a>
{% endblock %}
