<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="C:\Users\ASUS\OneDrive\Hình ảnh\anhthe\z5717362567455_8a9cf8677f35c17a38182cfa4020cd7b.jpg/x-icon"
      href="{/C:\Users\ASUS\OneDrive\Hình ảnh\anhthe\z5717362567455_8a9cf8677f35c17a38182cfa4020cd7b.jpg/favicon.ico"
    />
    <title>Pet Health Care</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css2/home.css' %}" />
  </head>
  <body>
    <div class="row top">
      <div class="boxcenter">
        <img src="{% static 'images/anh001.png'%}" alt="logo" />
      </div>
      <div class="menu">
        <ul>
          <li><a href="">CẨM NANG CHĂM SÓC</a></li>
          <li><a href="">GỬI TRÔNG GIỮ</a></li>
          <li><a href="">TIÊM PHÒNG</a></li>
          <li><a href="">LIÊN HỆ GÓP Ý</a></li>
        </ul>
      </div>
    </div>
    <div class="row content">
      <div class="boxcenter">
        <div class="row mrgtb"></div>
        <div class="row">
          <div class="boxleft mgr minh">
            <div class="row boxnews1 brdbot">
              <img src="{% static 'images/anh1.jpeg' %}" alt="" />
              <a href="*"> Chăm sóc thú cưng tận tình</a>
            </div>
            <div class="row boxnews1 brdbot">
              <img src="{% static 'images/2.jpg'%}" alt="" />
              <a href="*"> tam meo ne </a>
            </div>
            <div class="row boxnews1 brdbot">
              <img src="{% static 'images/3.jpg' %}" alt="" />
              <a href="*"> Chăm sóc thú cưng tận tình</a>
            </div>
            <div class="row boxnews1 brdbot">
              <img src="{% static 'images/4.jpg'%}" alt="" />
              <a href="*"> Chăm sóc thú cưng tận tình</a>
            </div>
            <div class="row boxnews1">
              <img src="{% static 'images/6.jpg'%}" alt="" />
              <a href="*"> Chăm sóc thú cưng tận tình</a>
            </div>
          </div>
          <div class="boxmid mgr bgtest minh">2</div>
          <div class="boxright bgtest minh">3</div>
        </div>
      </div>
    </div>
    <div class="row tinnew"></div>
    <div class="row footer"></div>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <script src="" async defer></script>
  </body>
</html>
