<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!--ờm đoạn này là đăng nhập-->
    <div class="main">
      <h1>Đăng nhập</h1>
      <h3>Vui lòng điền thông tin đăng nhập của bạn</h3>
      <form action="">
        <label for="first">
          <!--tên đăng nhập-->
        </label>
        <input
          type="text"
          id="first"
          name="first"
          placeholder="Tên đăng nhập của bạn"
          required
        />

        <label for="password">
          <!--mật khẩu-->
        </label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Mật khẩu"
          required
        />

        <div class="wrap">
          <button type="submit" onclick="solve()">Đăng nhập</button>
        </div>
      </form>
      <p>
        Bạn mới biết đến Pet Health Care?
        <a href="#" style="text-decoration: none"> Tạo tài khoản </a>
      </p>
    </div>
  </body>
</html>
