<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pet Health Care</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />

    <!--<link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/bootstrap.bundle.min.js"></script>-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/thucan.css' %}" />
  </head>
  <body>
    <div class="full">
      <header>
        <div>
          <div class="top1 sticky">
            <div class="container-fluid p-1 bgtop1 text-center text-light">
              <div class="container">
                <marquee>
                  Chăm Sóc Thú Cưng Số 1 Tại Thành Phố Hồ Chí Minh
                </marquee>
              </div>
            </div>

            <div class="container col-10">
              <div class="row pt-2 pb-2">
                <div class="col-md-2">
                  <a href="#" target="home">
                    <img
                      src="{% static 'home/images/anh001.png' %}"
                      alt=""
                      class="w-50 m-0"
                      loading="lazy"
                    />
                  </a>
                </div>
                <div class="col-md-10 navbar-expand-lg text-center">
                  <div class="menu">
                    <ul>
                      <li><a href="*">CẨM NANG CHĂM SÓC</a></li>

                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          role="button"
                          data-bs-toggle="dropdown"
                          >DỊCH VỤ CHO PET</a
                        >
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" href="#">Gửi trông giữ</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Tiêm phòng</a>
                          </li>
                        </ul>
                      </li>

                      <li><a href="../Templates/login.html">ĐĂNG NHẬP</a></li>
                      <li>
                        <a href="*">
                          <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                      </li>
                      <li>
                        <a href="*">
                          <span class="fas fa-shopping-cart"></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="content">
          {% comment %}
          <div>
            <div class="w3-sidebar w3-bar-block w3-card msb chung">
              <a href="#" class="w3-bar-item w3-button">Link 1</a>
              <button
                class="w3-button w3-block w3-left-align"
                onclick="myAccFunc()"
              >
                Accordion <i class="fa fa-caret-down"></i>
              </button>
              <div id="demoAcc" class="w3-hide w3-white w3-card">
                <a href="#" class="w3-bar-item w3-button">Thức ăn chó</a>
                <a href="#" class="w3-bar-item w3-button">Thức ăn mèo</a>
              </div>

              <a href="#" class="w3-bar-item w3-button">Link 2</a>
              <a href="#" class="w3-bar-item w3-button">Link 3</a>
            </div>
          </div>
          {% endcomment %}

          <div class="mgl chung">
            <div class="pt-2 text-center fw-bold fs-1">
              <p>Thức Ăn</p>
            </div>
            <section>
              <div class="container mt-3">
                <div class="row d-flex">
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan1.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">ANF 6+</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="1"
                          data-name="ANF 6+"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="1"
                            data-name="ANF 6+"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan2.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Ganador A</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="2"
                          data-name="Ganador A"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="2"
                            data-name="Ganador A"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan3.jpg' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Ganador P</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="3"
                          data-name="Ganador P"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="3"
                            data-name="Ganador P"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan4.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Zenith</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="4"
                          data-name="Zenith"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="4"
                            data-name="Zenith"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="container mt-3">
                <div class="row d-flex">
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan5.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Soft</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="5"
                          data-name="Soft"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="5"
                            data-name="Soft"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan6.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Pedigree</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="6"
                          data-name="Pedigree"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="6"
                            data-name="Pedigree"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan7.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Zenith O</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="7"
                          data-name="Zenith O"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="7"
                            data-name="Zenith O"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan8.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Natural Core Eco</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="8"
                          data-name="Natural Core Eco"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="8"
                            data-name="Natural Core Eco"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="container mt-3">
                <div class="row d-flex">
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan9.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Hansoft</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="9"
                          data-name="Hansoft"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="9"
                            data-name="Hansoft"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan10.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Natural Fish</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="10"
                          data-name="Natural Fish"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="10"
                            data-name="Natural Fish"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan11.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Royal Canin</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="11"
                          data-name="Royal Canin"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Chó</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="11"
                            data-name="Royal Canin"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan12.jpg' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Pates Cat</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="12"
                          data-name="Pates Cat"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Mèo</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="12"
                            data-name="Pates Cat"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section>
              <div class="container mt-3">
                <div class="row d-flex">
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan13.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Catchy</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="13"
                          data-name="Catchy"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Mèo</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="13"
                            data-name="Catchy"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan14.jpg' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Moochie</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="14"
                          data-name="Moochie"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Mèo</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="14"
                            data-name="Moochie"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan14.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Tuna Paste</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="15"
                          data-name="Tuna Paste"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Mèo</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="15"
                            data-name="Tuna Paste"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan15.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Royal Canin Cat</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="16"
                          data-name="Royal Canin Cat"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Mèo</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="16"
                            data-name="Royal Canin Cat"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="container mt-3">
                <div class="row d-flex">
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan16.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Cat's On</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="17"
                          data-name="Cat's On"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Mèo</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="17"
                            data-name="Cat's On"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan17.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Ciaoo</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="18"
                          data-name="Ciaoo"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Mèo</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="18"
                            data-name="Ciaoo"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border-0">
                      <img
                        class="card-img-top"
                        src="{% static 'home/images/thucan18.webp' %}"
                        alt="Card image"
                        style="width: 100%"
                      />
                      <div class="card-body">
                        <h4 class="card-title fw-bold">Royal Sensorye</h4>
                        <a
                          href="#"
                          class="add-to-cart"
                          data-id="19"
                          data-name="Royal Sensorye"
                          data-price="100000"
                        >
                          <span class="fas fa-shopping-cart float-end"></span
                        ></a>
                        <p class="card-text">Thức Ăn Mèo</p>

                        <p>
                          <span class="product-price" data-price="100000"
                            >100.000</span
                          >
                          <sup>đ</sup>
                        </p>
                        <div class="mt-4">
                          <button
                            class="btn btn-success add-to-cart"
                            data-id="19"
                            data-name="Royal Sensorye"
                            data-price="100000"
                          >
                            Mua ngay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="cart container mt-5">
              <h2 class="text-center fw-bold">Cart</h2>

              <table class="table table-bordered text-center align-middle">
                <thead class="table-light">
                  <tr>
                    <th>Sản phẩm</th>
                    <th>Giá</th>
                    <th>SL</th>
                    <th>Chọn</th>
                  </tr>
                </thead>
                <tbody>
                  {% comment %}
                  <tr>
                    <td
                      class="d-flex align-items-center justify-content-center"
                    >
                      <img
                        src="{% static 'home/images/thucan17.webp' %}"
                        class="me-2"
                        width="100"
                      />
                      thức ăn mèo
                    </td>
                    <td><span>100.000</span> <sup>đ</sup></td>
                    <td>
                      <input
                        type="number"
                        value="1"
                        min="1"
                        class="form-control w-50 mx-auto"
                      />
                    </td>
                    <td class="text-danger" style="cursor: pointer">Xóa</td>
                  </tr>
                  <tr>
                    <td
                      class="d-flex align-items-center justify-content-center"
                    >
                      <img
                        src="{% static 'home/images/thucan14.webp' %}"
                        class="me-2"
                        width="100"
                      />
                      thức ăn mèo
                    </td>
                    <td><span>100.000 </span><sup>đ</sup></td>
                    <td>
                      <input
                        type="number"
                        value="1"
                        min="1"
                        class="form-control w-50 mx-auto"
                      />
                    </td>
                    <td class="text-danger" style="cursor: pointer">Xóa</td>
                  </tr>
                  {% endcomment %}
                </tbody>
              </table>

              <div class="text-end fw-bold">
                Tổng tiền: <span>0</span><sup>đ</sup>
              </div>
            </section>
          </div>
        </div>
      </main>
      <div class="news mgl fs-5">
        <p>
          Hạt cho chó/mèo được chế biến từ các nguồn đạm động vật, chất xơ, rau
          củ,... được cân bằng đầy đủ dưỡng chất và thành phần dinh dưỡng cho
          từng giống chó khác nhau. Ngoài ra, kích thước hạt và hương vị của hạt
          cũng là một trong những yếu tố giúp bạn chọn hạt phù hợp cho thú cưng.
        </p>
      </div>
      <footer>
        <div class="footer">
          <div class="container-fluid col-10 footer">
            <div class="row pt-3 pb-3">
              <div class="col-md-4 care">
                <h4 class="fw-bold float-endo">Đánh Giá Của Khách Hàng</h4>
                <div>
                  <ul>
                    <li><a href="Xem them"> Nhấn Vào Để Xem </a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <h4 class="care fw-bold text-center">Pet Care</h4>
                <ul>
                  <li>Phone: 0889969020</li>
                  <li>Maps: 25 Tô Ký - Tân Chánh Hiệp - Quận 12</li>
                  <li>Social:</li>
                </ul>
              </div>
              <div class="col-md-4">
                <div class="float-end">
                  <ul>
                    <h4 class="fw-bold">Hỗ Trợ Khách Hàng</h4>
                    <li><a href="*"> Chính Sách Mua Hàng </a></li>
                    <li><a href="*"> Điều Khoản Dịch Vụ </a></li>
                    <li><a href="*"> Hình Thức Thanh Toán </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script
      type="text/javascript"
      src="{% static 'home/js/thucan.js' %}"
    ></script>
  </body>
</html>
