{% extends 'KhachHang/base.html' %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-center" style="color: rgb(16, 165, 130); font-weight: bold;">Đăng ký lịch hẹn khám bệnh</h2>

  <div class="card shadow p-4">
    <form method="POST">
      {% csrf_token %}

      <div class="row">
        <!-- Thông tin khách hàng -->
        <div class="col-md-6">
          <div class="card p-3 mb-3">
            <h4 class="text-secondary">Thông tin khách hàng</h4>
            <div class="form-group">
              {{ khach_hang_form.as_p }}
            </div>
          </div>
        </div>

        <!-- Thông tin thú cưng -->
        <div class="col-md-6">
          <div class="card p-3 mb-3">
            <h4 class="text-secondary">Thông tin thú cưng</h4>
            <div class="form-group">
              {{ thu_cung_form.as_p }}
            </div>
          </div>
        </div>
      </div>

      <!-- Lịch hẹn -->
      <div class="card p-3 mb-3">
        <h4 class="text-secondary">Lịch hẹn</h4>
        <div class="form-group">
          {{ lich_hen_form.as_p }}
        </div>
      </div>

      <button type="submit" class="btn btn-success w-100">Đăng ký</button>
    </form>
  </div>


</div>
{% endblock %}
