{% load static %}
<!DOCTYPE html>
<html>
  
<head>
    <title>Đăng kí khám bệnh</title>
        <!-- CSS -->
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'KhachHang/css/style.css' %}" rel="stylesheet" />
        <link href="{% static 'KhachHang/css/owl.carousel.min.css' %}" rel="stylesheet" />
        <link href="{% static 'KhachHang/css/all.min.css' %}" rel="stylesheet" />
        <!-- JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script src="{% static 'KhachHang/js/j3.js' %}"></script>
        <script src="{% static 'KhachHang/js/all.min.js' %}"></script>
        <script src="{% static 'KhachHang/js/myscript.js' %}"></script>
    </head>
    <body>       
            <!-- Intro settings -->
            <style>
              #intro {
                /* Margin to fix overlapping fixed navbar */
                margin-top: 58px;
              }
        
              @media (max-width: 991px) {
                #intro {
                  /* Margin to fix overlapping fixed navbar */
                  margin-top: 45px;
                }
              }
            </style>
        
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
              <div class="container-fluid">
                <!-- Navbar brand -->
                <!-- logo -->
                <a class="navbar-brand" target="_blank" href="http://127.0.0.1:8000/">
                  <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/473723691_1002491608374754_5189314962434618562_n.png?_nc_cat=111&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeEDeShnCPyE1crSUjUpyJ8js4fz9kghMoezh_P2SCEyh6VuAGwQzZ1lHCBkryZeVShFS0ItXLDNl8s1ggq5ca-g&_nc_ohc=BOXPLlxyVEkQ7kNvgH0roAq&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1gEg1AWa_qVQ541W40Cwr2BLuMcVt_VZi5_YO2B74wu-BA&oe=67B493C8" 
                  height="60" alt=""
                    loading="lazy" style="margin-top: -3px;" />
                <!-- logo -->
                <a class="navbar-brand" href="#">Pet Health Care System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>     
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Khách Hàng
                      </a>
      
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'quan_ly_thu_cung' %}">Quản lý danh sách thú cưng</a></li>
                        <li><a class="dropdown-item" href="{% url 'dang_ky_kham_benh' %}">Đăng ký khám bệnh</a></li>
                        <li><a class="dropdown-item" href="{% url 'danh_gia_nguoi_dung' %}">Đánh giá người dùng</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'thong_tin_khac' %}">Thông tin khác</a></li>
                      </ul>
                    </li>
                  </ul>
              </li>
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>   
            </nav>
            <!-- Navbar -->
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://petcare.vn/wp-content/uploads/2023/06/untitled-46.jpg" class="d-block w-100" alt="Wild Landscape"/>
            <div class="mask" style="background-color: rgba(5, 113, 19, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-5">
              <h1 class="mb-4">
                      <strong>Pet House - Chăm sóc thú cưng</strong>
                    </h1>
      
                    <p>
                      <strong>Cơ sở chăm sóc thú cưng số 1 tại Thành Phố Hồ Chí Minh</strong>
                    </p>
      
                    <p class="mb-4 d-none d-md-block">
                      <strong>
                        "Ngôi Nhà Yêu Thương Cho Thú Cưng Của Bạn"</strong>
                    </p>
            </div>
          </div>     
        </div>            
<!--Main layout-->
<main class="mt-1 pt-1">
  <div class="container">
      <!-- Heading -->
      <h1 class="my-5 text-center" type="submit" style="color: rgba(7, 78, 35, 0.82)" >Đăng kí khám bệnh</h1>
      <!--Grid row-->
      <div class="row">
          <!--Grid column-->
          <div class="col-md-8 mb-4">
              <!--Card-->
              <div class="card p-4">
                  <!--Grid row-->
                  <div class="row mb-3">
                      <!--Grid column-->
                      <div class="col-md-6 mb-2">
                          <!--tên-->
                          <div class="form-outline">
                            <p class="mb-0">
                              Họ tên chủ thú cưng:
                          </p>
                              <input type="text" id="typeText" placeholder="Nguyễn Văn A" class="form-control" />
                           
                          </div>
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-6 mb-2">
                          
                          <p class="mb-0">
                            Số điện thoại:
                        </p>
                          <div class="form-outline">
                              <input type="text" id="typeText" placeholder="12345678"class="form-control" />
            
                          </div>
                      </div>                     
                  </div> 
                  <!--email-->
                  <p class="mb-0">
                      Email:
                  </p>
                  <div class="form-outline mb-4">
                       <input type="email" class="form-control" placeholder="youremail@example.com" aria-label="youremail@example.com" aria-describedby="basic-addon1" />
                  </div>

                  <!--address-->
                  <p class="mb-0">
                      Địa chỉ khách hàng:
                  </p>
                  <div class="form-outline mb-4">
                      <input type="text" class="form-control" placeholder="1234 Main St" aria-label="1234 Main St" aria-describedby="basic-addon1" />
                  </div>
                  
                  <p class="mb-0">
                      Tên thú cưng:
                  </p>
                  <div class="form-outline mb-4">
                      <input type="text" placeholder="Box"  class="form-control" aria-label="Apartment or suite" aria-describedby="basic-addon1" />
                  </div>
                
                  <!--Grid row-->
                  <p class="mb-0">
                    Giới tính thú cưng:
                </p>
                <div class="form-outline mb-4">
                   
                 <!--Grid column-->
                      
                 <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  <label class="form-check-label" for="flexCheckDefault">Đực</label>
              </div>

              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  <label class="form-check-label" for="flexCheckDefault">Cái</label>
              </div>

            </div>
              <!--Grid column-->
                      <p class="mb-0">
                        Mô tả tình trạng thú cưng:
                    </p>
                    <div class="form-outline mb-4">
                        <input type="text" class="form-control" aria-label="Apartment or suite" aria-describedby="basic-addon1" />
                    </div>                                
                  <!-- ngày hẹn-->
                  <p class="mb-0">
                    Ngày hẹn:
                </p>
                <div class="form-outline mb-4">
                     <input type="date" class="form-control" placeholder="dd/mm/yy" aria-label="dd/mm/yy" aria-describedby="basic-addon1" />
                </div>
                <p class="mb-0">
                  Giờ hẹn:
              </p>
              <div class="form-outline mb-4">
                   <input type="time" class="form-control" placeholder="hh:mm" aria-label="hh:mm" aria-describedby="basic-addon1" />
              </div>
                <p class="mb-0">
                  Lựa chọn bác sĩ( nếu có nhu cầu):
              </p>
                
                  <div class="row mb-3">
                    <div class="my-3">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                          <label class="form-check-label" for="flexRadioDefault1"> Bác sĩ Triệu Hoàng Nam </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                          <label class="form-check-label" for="flexRadioDefault2"> Tiến sĩ Nguyễn Văn A </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                          <label class="form-check-label" for="flexRadioDefault3"> Bác sĩ Nguyễn Văn Hùng </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" />
                        <label class="form-check-label" for="flexRadioDefault3"> Bác Sĩ Võ Hùng</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" />
                      <label class="form-check-label" for="flexRadioDefault3"> Bác Sĩ Bùi Minh Tân </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" />
                    <label class="form-check-label" for="flexRadioDefault3"> Bác Sĩ Võ Hạnh Nhi </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7" />
                  <label class="form-check-label" for="flexRadioDefault3"> Khác </label>
              </div>
                  </div>  
                  <p class="mb-0">
                    Ghi chú cho nhân viên( nếu có):
                </p>
                <div class="form-outline mb-4">
                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" />
                </div>  
                <p class="mb-0">   
                      <div class="col-md-6 mb-3">
                      </div>                    
                  <hr class="mb-4" />                    
  <!-- Thông báo -->             
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:rgb(13, 120, 72);" >Đăng kí khám bệnh</button>
   <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng kí thành công!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Đăng kí khám bệnh thành công!
        Hotline: 0675048574 - Chuyên viên tư vấn
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>           
            </div>
          </div>    
        </div>
          <div class="col-md-4 mb-4">
              <!-- Heading -->
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="my-0" style= "color:rgb(235, 20, 20);" >Lưu ý</span>
                  <span class="badge rounded-pill badge-primary">3</span>
              </h4>

              <!-- Lưu ý -->
              <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between">
                      <div>
                          <h6 class="my-0">Trường hợp hủy đăng ký khám (trước 7 ngày )
                            được hoàn lại tiền khám nếu thanh toán trước, từ 3 - 6 ngày hoàn 75% phí trả 
                            trước, trường hợp còn lại sẽ không hoàn phí thanh toán trước.</h6>

                  <li class="list-group-item d-flex justify-content-between">
                      <div>
                          <h6 class="my-0"> Khách hàng có thể 
                            chọn bác sĩ thú y, nếu không chọn bác sĩ thú y thì nhân viên sẽ sắp xếp cho 1 
                            bác sĩ cụ thể trước khi đến khám.</h6>

                          
                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="my-0"> Hotline: 0675048574 - Chuyên viên tư vấn </span>
                  </li>
             </ul>
              </form>

          </div>


  </div>
</main>

</div>
  <a class="btn btn-outline-success"  type="submit" href="{% url 'home' %}">Quay lại Trang Trước</a>
</div>
<!-- Footer -->
<footer class="footer mt-5">
  <div class="container-fluid col-10">
      <div class="row pt-3 pb-3">
          <div class="col-md-4 care">
              <h4>Đánh Giá Của Khách Hàng</h4>
              <ul>
                  <li><a href="#">Nhấn Vào Để Xem</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h4 class="care">Pet Care</h4>
              <ul>
                  <li>Phone: 0889969020</li>
                  <li>Maps: 25 Tô Ký - Tân Chánh Hiệp - Quận 12</li>
                  <li>Social:</li>
              </ul>
          </div>
          <div class="col-md-4">
              <h4>Hỗ Trợ Khách Hàng</h4>
              <ul>
                  <li><a href="#">Chính Sách Mua Hàng</a></li>
                  <li><a href="#">Điều Khoản Dịch Vụ</a></li>
                  <li><a href="#">Hình Thức Thanh Toán</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>

       </body>
          </html>