body {
  font-family: Verdana, sans-serif;
  background-color: #f9f9f9;
}

.bgtop1 {
  background-color: rgb(16, 165, 130);
  color: #ffffffee;
  padding: 10px;
  text-align: center;
}

.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: #eee;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}

.tab-button.active {
  background: #218838;
  color: white;
}

.auth-form {
  display: none;
}

.auth-form.active {
  display: block;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #218838;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.btn-primary:hover {
  background-color: #218838;
}
