<!-- staff/templates/staff/add_kennel.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Thêm Chuồng</title>
</head>
<body>
    <h1>Thêm Chuồng</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Tên Chuồng:</label><br>
        <input type="text" id="name" name="name"><br><br>
        
        <label for="description">Mô Tả:</label><br>
        <textarea id="description" name="description"></textarea><br><br>
        
        <input type="submit" value="Thêm">
    </form>
    <a href="{% url 'kennel_list' %}">Quay lại danh sách chuồng</a>
</body>
</html>
